.hero {
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.hero__content {
  position: relative;
  padding: 3rem 0;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero__index {
  background: url('../img/geometricbackground.png') center center no-repeat;
  background-size: cover;
  width: 100%;
  overflow-x: hidden;
  padding: 0;
  color: $white;
  text-align: center;

  .hero__content {
    padding: 6.25rem 0;
  }
}

.hero__schedule {
  color: $white;
  text-align: center;

  .hero__content {
    @include breakpoint (medium){
      padding-bottom: 5rem;
    }
  }
}

.hero__faq {
  flex-direction: row;
}

.hero__icon {
  margin-bottom: 1rem;
}

.hero__description {
  max-width: 750px;
  text-align: center;
  margin: 0 auto;
}

.logo {
  width: 100%;
  max-width: 100px;

  @include breakpoint(medium) {
    max-width: 150px;
  }
}

.hero__cta {
  border-top: 1px solid $white;
  padding-top: 1rem;
  margin: 1rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__button {
  margin: 0.5rem auto;
}


@mixin background-left($color1, $color2) {
  background-image: linear-gradient($color1, $color2);
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: skewY(-4deg);
  transform-origin: top left;
}

@mixin background-right($color1, $color2) {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  background-image: linear-gradient($color1, $color2);
  transform: skewY(4deg);
  transform-origin: bottom right;
}


.background-right {
  @include background-right(#272D70, get-color(secondary));
}

.background-left{
  @include background-left(get-color(secondary),#272D70);
}
