.icon--left {
  margin-right: 0.5rem;
  margin-top: 0.25rem;
}

.icon__default {
  width: 20px;
  height: 20px;
}

.member-logo {
  width: 100%;
  max-width: 150px;
  max-height: 150px;
  margin: 0 auto;
}
