.menu, .title-bar {
  display: flex;

  .logo {
    margin-right: auto;
  }
}

.title-bar__button {
  border-radius: 5px;
  margin-bottom: 0;
  color: $white !important;
}

.header__item {
  @include breakpoint(small only) {
    width: 100%;
    margin: 0 auto;

  }
}

.menu .menu__link--white {
  color: $white;
}

.menu .menu__link {
  color: $black;
  @include opacity-changer(0.5);
}

.menu li {
  font-size: 1rem;
}

.accordion__title {
  font-weight: 600;
}

.accordion__text {
  margin-bottom: 0;
}
