.about__link {
  display: flex;
  flex-direction: column;
  margin: 2rem 0;
}

// .about__title {
//   color: $dark-gray;
//   text-align: center;
//   text-transform: uppercase;
//   font-weight: 600;
//   font-size: rem-calc(20);
//   letter-spacing: 2px;
//   margin-top: 1rem;
// }

@mixin about-color($color){

  .accordion-title {
    color: $color;
  }

  .accordion-title:hover, .accordion-title:focus {
    font-weight: 600;
  }
}
.about__juniorenterprise {
  @include about-color(#2da2c8);
}


.about__feelgood {
  @include about-color(#70BA72);
}

.about__nourish {
  @include about-color(#F05423);
}

.about__campuskitchensproject {
  @include about-color(#336600);
}

.about__swipe {
  @include about-color(darken(#A2ECD9, 30%));
}

.about__uptous {
  @include about-color(#0094bb);
}

.about__euphrates {
  @include about-color(#3d9fdc);
}

.about__movementofyouth {
  @include about-color(#d6539f);
}

.faq__headline {
  color: get-color(brand-purple);
}

.faq__title {
  font-size: rem-calc(20);
  font-weight: 600;
  padding: 1.5rem 1rem;
  color: $dark-gray;
  border: none;

  &:hover, &:focus {
    color: get-color(brand-purple);
  }
}

.faq__content {
  padding: 1.5rem 1rem;
}

.faq__item {
  border-bottom: 2px solid $light-gray;
}

.schedule-container {
  width: 90%;
  max-width: 1440px;
  margin: 0 auto;
}

.schedule__headline {
  color: $medium-gray;
  font-weight: 600;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 2rem;

  @include breakpoint (large) {
    margin-bottom: 0;
    text-align: left;
  }
}


.program__header {
  margin-bottom: 2rem;
  text-transform: uppercase;
  letter-spacing: 2px;
   opacity: 0.5;
   font-weight: 600;
   font-size: rem-calc(18);
  // @include hide-for-only(small);;
}

.program__panel {
  @include breakpoint(medium) {
    max-height: 600px;
    overflow-y: scroll;
  }
}

a.program__link {
  font-size: rem-calc(16);
  font-weight: 600;
  transition: 300ms ease all;
}

.program__title {
  margin: 1.5rem 0;
}

.program__subtitle {
  margin-bottom: 0.5rem;
}

.program__nav-container {
   border-right: 1px solid $light-gray;
}
