// /* Popup container */
// .copy-to-clipboard {
//     position: relative;
//     display: inline-block;
//     cursor: pointer;
// }
//
// /* The actual popup (appears on top) */
// .copy-to-clipboard .popuptext {
//     visibility: hidden;
//     background-color: $white;
//     color: $black;
//     text-align: center;
//     padding: 0.5em;
//     position: absolute;
//     z-index: 1;
//     bottom: 125%;
//     left: 50%;
//     margin-left: -80px;
// }
//
// /* Popup arrow */
// .copy-to-clipboard .popuptext::after {
//     content: "";
//     position: absolute;
//     top: 100%;
//     left: 50%;
//     margin-left: -5px;
//     border-width: 5px;
//     border-style: solid;
//     border-color: $white transparent transparent transparent;
// }
//
// /* Toggle this class when clicking on the popup container (hide and show the popup) */
// .copy-to-clipboard .show {
//     visibility: visible;
//     -webkit-animation: fadeIn 1s;
//     animation: fadeIn 1s
// }
//
// /* Add animation (fade in the popup) */
// @-webkit-keyframes fadeIn {
//     from {opacity: 0;}
//     to {opacity: 1;}
// }
//
// @keyframes fadeIn {
//     from {opacity: 0;}
//     to {opacity:1 ;}
// }
