#ifeventzilla {
  min-height: 1000px;

  @include breakpoint(medium){
    min-height: auto;
  }
}

.register-wizard {
  margin-bottom: 3rem;

  a {
    color: $black;
  }
}

.register__headline {
  margin-bottom: 3rem;
}

.register__logo {
  margin-bottom: 1rem;
  display: flex;
}

.wizard__step {
  border: darken($light-gray, 5%) 1px solid;
  padding-top: 1rem;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;

  &.active {
    background-color: darken($light-gray, 5%);
  }
}

.wizard__icon {
  margin-bottom: 0.5rem;
  max-width: 50px;
}

.registration-customization {
  margin: 0 auto;
  max-width: 970px;
}

.org__description, .org__discount-code {
  margin-bottom: 1rem;
}

.register__form {
  display: flex;
  flex-direction: column;
}
