.callout {
  margin-bottom: 0;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-color: $black;
  color: get-color(secondary);

  p {
    margin-bottom: 0;
  }
}

header {
  padding: 1rem;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Avoid the IE 10-11 `min-height` bug. */
}

.sticky-footer {
  flex: 1 0 auto; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
}

.header__main {
  background-color: #F2F3F4;
  overflow-x: hidden;
}

.section {
  padding: rem-calc(50px) 0;
}

.nav-mobile {
  padding: 1rem 0;

  li {
    font-weight: bold;
  }

  .button {
    display: inline-block;
    margin-top: 0.5rem;
  }
}


footer {
  background-color: $black;
  flex-shrink: 0; /* Prevent Chrome, Opera, and Safari from letting these items shrink to smaller than their content's default minimum size. */
  margin-top: 3rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .logo {
    margin-right: 0;
  }
}

//Intro

.section__intro {
  background-color: $black;
  margin-top: -7vw;
  padding: 7rem 0;

  h2 {
    margin-bottom: 2rem;
  }

  p:first-of-type {
   font-size: rem-calc(21);
 }

   p, li {
    font-size: rem-calc(18);
  }
}

.intro__icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.intro__list {
  color: $white;
  list-style-type: none;
  margin-left: 0;
}

.intro__list-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

//Directory

.section__directory {
  background-color: $light-gray;
  margin-top: -7vw;
  padding: 7rem 0;
}

.highlight {
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.highlight__button {
  margin: 0 auto;
}

.highlight__subhead {
  max-width: 400px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.highlight__icon {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 100%;
  max-width: 150px;
  max-height: 150px;
}

.highlight__description {
  margin: 0 auto;
  margin-bottom: 1rem;
  font-size: rem-calc(18);
  text-align: center;
  max-width: 401px;
}

.highlight__program {
  background: url('../img/program-bg.svg') center center no-repeat;
  background-size: contain;
}

.highlight__faq {
  background: url('../img/faq-bg.svg') center center no-repeat;
  background-size: contain;
}

.angle--both-left-left {
  -webkit-clip-path: polygon(0 calc(#{0%} + 7vw), 100% 0, 100% 100%, 0 calc(100% - 7vw));
          clip-path: polygon(0 calc(#{0%} + 7vw), 100% 0, 100% 100%, 0 calc(100% - 7vw));
}

.angle--both-right-right {
  -webkit-clip-path: polygon(0 0, 100% calc(#{0%} + 7vw), 100% calc(100% - 7vw), 0 100%);
          clip-path: polygon(0 0, 100% calc(#{0%} + 7vw), 100% calc(100% - 7vw), 0 100%);
}

//Crewmember

.crewmember__headline {
  margin-bottom: 3rem;
}

.crewmember-logo {
    border: none;
    margin: 2rem 1rem;
    display: flex;
    justify-content: center;
}

.crewmember-logo__link {
  display: block;
}
