

//Intro

.section__intro {
  background-color: $light-gray;
}

.intro__list {
  list-style-type: none;
  margin-left: 0;
}

.intro__list-item {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1rem;
}

//Registration

.section__registration {
  background-color: $black;
}

.registration__icon {
  margin-bottom: 1rem;
}

.registration__item {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

.registration__link {
  font-weight: bold;
}

.registration__subhead {
  @extend %subhead;
  margin: 1.5rem 0;
  font-weight: 600;
}

.registration__title {
  @extend %title;
  font-weight: 600;
}

.registration__description {
  @extend %caption;
  color: $white;
}


.addeventatc{
   margin: 0 auto;
}

.link-tooltip {
  color: $white;
}

//Crew Members
.crewmember {
  border: none;

  a {
    margin: 1rem auto;
  }

}

//Interest Form

.section__interest {
  background-color: $light-gray;
}

.interest__graphic {
   margin-bottom: 1rem;
   max-width: 100px;
}

.interest-form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.interest-form {
  width: 100%;
  max-width: 500px;
}

input[type="submit"] {
  border-radius: 30px;
}

#interest-submitted {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 600px;
  margin: 0 auto;
  height: 580px;
}
