.break {
  background-color: green;
}

.organization {
  background-color: orange;
}

.collaboration {
  background-color: blue;
}

.workshop {
  background-color: turquoise;
}


/// Music on registration form.
