@mixin track-type($color) {

  .timeline__title {
    color: $color;
  }

  .card-divider {
    background-color: $color;
    color: $white;
    font-weight: 600;
  }
}

@mixin hour-interval($hour) {
  height: 200px;

  @include breakpoint(large) {
    height: calc((200px * #{$hour}) - 0.5rem);
  }
}

.timeline__header {
  margin-bottom: 1.5rem;
}

.timeline__body {
  @include breakpoint(large) {
    height: 3300px;
    margin: 0 1.5rem;
    background: repeating-linear-gradient(180deg,rgba(170,178,189,.2),rgba(170,178,189,.2) 100px,
    hsla(215,9%,43%,.2) 0,hsla(215,9%,43%,.2) 200px);
  }
}

#friday {
  @include breakpoint(large) {
    margin-top: 1400px;
  }
}

.time {
  height: 110px;
  margin-left: -12px;
  margin-top: -10px;
}

.theme__title + .theme__title {
  margin-left: 1rem;
}

.theme  {
  @include track-type(get-color(primary));

  @include breakpoint (small only) {
    height: auto !important;

    .timeline__list {
      padding-bottom: 1rem;
    }
  }

}

.org  {
  @include track-type(get-color(brand-purple));
}

.meal {
  @include track-type(get-color(brand-orange));
}

.collab  {
  @include track-type(get-color(brand-blue));
}

.break {
  @include track-type(get-color(brand-orange));
}

.half-hour {
  @include hour-interval(0.5);

  @include breakpoint(large) {
    .card-divider {
      padding: 0.25rem 1rem;
    }
  }
}

.three-quarters-hour {
  @include hour-interval(.75);
}

.quarter-break {
  @include breakpoint(large) {
    height: 50px;
      margin-top: 0.5rem;
  }
}

.hour-quarter {
  @include hour-interval(1.25);
}

.hour-three-quarters {
  @include hour-interval(1.75);
}

.hour {
  @include hour-interval(1);
}

.hour-half {
  @include hour-interval(1.5);
}

.two-hours {
  @include hour-interval(2);
}

.two-hours-quarter {
  @include hour-interval(2.25);
}

.two-hours-half {
  @include hour-interval(2.5);
}

.timeline__description {
  font-weight: 400;
  font-size: rem-calc(14);
  color: $black;
  margin-top: 0.5rem;
}

.timeline__list {
  margin-top: 0.5rem;

  li {
    font-size: rem-calc(12);
  }

  .timeline__description {
    margin: 0;
  }
}

.timeline__title {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-weight: 600;
  margin-bottom: 0;

  p {
    margin-bottom: 0;
  }
}
