 @mixin opacity-changer($default) {
  opacity: $default;

  &:hover {
    opacity: 1;
  }
}

.text__small {
  font-size: rem-calc(14);
}

.mega {
  font-weight: bold;
  letter-spacing: 10px;
  text-transform: uppercase;
  @include breakpoint(medium) {
    font-size: 4rem;
  }

  @include breakpoint(large) {
    font-size: 4.5rem;
  }
}

.display {
  font-weight: 600;
  text-align: center;
}

.headline {
  font-weight: 600;
  text-align: center;
  color: $medium-gray;
}

.subhead, %subhead {
  font-weight: 600;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-align: center;
  color: $medium-gray;
}

.title, %title {
  color: inherit;
}

%caption{
  text-align: center;
  font-size: 95%;
}

.button {
  font-weight: 600;
  font-size: rem-calc(16);
  color: $white;
}

.italic {
  font-style: italic;
}

.bold {
  font-weight: 600;
}

.type__white {
  color: $white;
}

.primary {
  color: get-color(primary);
}

.secondary {
  color: darken(get-color(secondary), 10%);
}

.animate-in {
  animation: animate-in .3s cubic-bezier(.25,.46,.45,.94);

  &:nth-child(2) {
    animation-duration: .6s;
  }

  &:nth-child(3) {
    animation-duration: .9s;
  }

  &:nth-child(4) {
    animation-duration: 1.2s;
  }
}

.animate-in-2 {
  animation: animate-in 1.5s cubic-bezier(.25,.46,.45,.94);
}

@keyframes animate-in{
  from{
    transform:translateY(20px);opacity:0
  }
  to{
    transform:translateY(0);opacity:1
  }
}
