 @mixin opacity-changer($default) {
  opacity: $default;

  &:hover {
    opacity: 1;
  }
}

p, li {

  @include breakpoint(medium) {
    font-size: rem-calc(18px);
  }

  @include breakpoint(large) {
    // font-size: rem-calc(20px);
  }
}

.mega {
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  @include breakpoint(large) {
    font-size: 3.75rem;
  }
}

.display {
  font-weight: 400;
  text-align: center;
  margin-bottom: 1.25rem;
}

.button {
  font-weight: 600;
  font-size: rem-calc(16);
}

.headline {
  color: $medium-gray;
  font-weight: 600;
  text-align: center;
}

.faq__headline {
  color: #444B94;
}

.italic {
  font-style: italic;
}

.title, %title {
  text-align: center;
  color: $white;
}

.subhead, %subhead {
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
}

.type__bold {
  font-weight: 600;
}

.type__italic {
  font-style: italic;
}

.primary-color {
  color: $primary-color;
}

.secondary-color {
  color: $secondary-color;
}

.type__white {
  color: $white;
}

%caption{
  text-align: center;
  font-size: 95%;
}
