<div class="off-canvas position-right" id="nav__mobile" data-off-canvas>
  <div class="grid-x grid-padding-x">
    <div class="small-12 cell">
      <button class="close-button close-button--black" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>
      <nav class="nav-mobile">
        <ul class="menu vertical">
          <li><a href="/index.html" class="menu__link">Home</a></li>
          <li><a href="/about.html" class="menu__link">About</a></li>
          <li><a href="/program.html" class="menu__link">Program</a></li>
          <li><a href="/schedule.html" class="menu__link">Schedule</a></li>
          <li><a href="/faq.html" class="menu__link">FAQ</a></li>
          <li><a class="button primary__button" href="/register-organization.html"><span class=" type__white">Register</span></a></li>
        </ul>
      </nav>
    </div>
  </div>
</div>
